.navbar {
  display: grid;
  grid-template-rows: repeat(2,1fr);
  background-color: #BBD4DE;
  font-family: 'Poppins', sans-serif;
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 30px;
  position: fixed;
  color: #474554;
  height: 100%;
  width: 8vw;
  transition: all 0.1s;
}

.extendNav {
  width: 14vw;
  text-align: left;
  animation-name: example;
  animation-duration: 0.1s;
}

@keyframes example {
  from {
    width: 8vw;
  }
  to {
    width: 14vw;
  }
}

.homeBtn {
  display: flex;
}

.extendHome {
  display: block;
}

.extendHome > ul { 
  list-style: none;
  font-size: 1rem;
} 

.extendHome > ul > li > a {
  color: black;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.extendHome > ul > li :hover {
  font-weight: 600;
}

.reveal {
  display: none;
  font-size: 1rem;
  color: black;
}

.reveal > ul {
  list-style: none;
}

.reveal > ul > li > a {
  text-decoration: none;
}

.brand {
  display: block;
  width: 100px;
  height: 100px;
  margin: 3rem auto;
}

.navbar > ul > li > a {
  color: black;
  transition: all 0.2s linear;
}

.navbar > ul > li :hover {
  font-size: 1.75rem;
}

.forUsers {
  z-index: 2;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  width: 100%;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
}
.icons > li {
  margin: 5rem auto;
}

.forUsers :first-child {
  margin: 0 auto;
}

.forUsers :first-child > li > a > img {
  width: 30px;
  height: 30px;
  transition: all 0.1s linear;
}

.forUsers :first-child > li > a :hover {
  transform: scale(1.2);
}

.icons > li > a > img {
  width: 40px;
  height: 40px;
  transition: all 0.1s linear;
}

.icons > li > a :hover {
  transform: scale(1.2);
}


@media (max-width: 1200px) {
  .navbar {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    height: 10vh;
    width: 100%;
  }
  .extendNav {
    height: 14vw;
    text-align: left;
    animation-name: example;
    animation-duration: 0.1s;
  }
  @keyframes example {
    from {
      height: 10vw;
    }
    to {
      height: 14vw;
    }
  }
  .grp1 {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    height: 100%;
  }
  .brand {
    display: block;
    height: 75px;
    width: 75px;
    margin: 1rem 0 0 2rem;
  }
  .forUsers {
    grid-template-rows: none;
    grid-template-columns: repeat(2, 1fr);
  }

  .forUsers :first-child {
    margin: 0;
  }

  .icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
