.navbar {
  display: grid;
  grid-template-rows: repeat(3,1fr);
  background-color: #BBD4DE;
  font-family: 'Poppins', sans-serif;
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 30px;
  position: fixed;
  color: #474554;
  height: 100%;
  width: 8vw;
  transition: all 0.1s;
}

.extendNav {
  width: 14vw;
  text-align: left;
  animation-name: example;
  animation-duration: 0.1s;
}

@keyframes example {
  from {
    width: 8vw;
  }
  to {
    width: 14vw;
  }
}

.homeBtn {
  display: flex;
}

.homeBtn > div > a > img {
  display: block;
  width: 50px;
  height: 50px;
}

.extendHome {
  display: block;
}

.extendHome > ul { 
  list-style: none;
  font-size: 1rem;
} 

.extendHome > ul > li > a {
  color: black;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.extendHome > ul > li :hover {
  font-weight: 600;
}

.reveal {
  display: none;
  font-size: 1rem;
  color: black;
}

.reveal > ul {
  list-style: none;
}

.reveal > ul > li > a {
  text-decoration: none;
}

.brand {
  display: block;
  width: 100px;
  height: 100px;
  margin: 3rem auto;
}

.navbar > ul > li > a {
  color: black;
  transition: all 0.2s linear;
}

.navbar > ul > li :hover {
  font-size: 1.75rem;
}

.forUsers {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.icons > ul {
  padding: 0;
  margin: 0;
}

.icons > ul > li {
  margin: 5rem auto;
}

.forUsers {
  margin: 0 auto;
}

.forUsers li > a > img {
  width: 30px;
  height: 30px;
  transition: all 0.1s linear;
}

.forUsers li > a :hover {
  transform: scale(1.2);
}

.icons > ul {
  list-style: none;
}

.icons > ul > li > a > img {
  width: 40px;
  height: 40px;
  transition: all 0.1s linear;
}

.icons > ul > li > a :hover {
  transform: scale(1.2);
}


@media (max-width: 1200px) {
  .navbar {
    display: flex;
    height: 12vh;
    width: 100%;
  }
  .extendNav {
    height: 14vw;
    text-align: left;
    animation-name: example;
    animation-duration: 0.1s;
  }
  @keyframes example {
    from {
      height: 12vw;
    }
    to {
      height: 14vw;
    }
  }

  .grp1 > a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
  }

  .brand {
    display: block;
    height: 80px;
    width: 80px;
    margin: 0 auto;
  }

  .homeBtn {
    display: flex;
    flex-direction: column;
  }
  .homeBtn > div > a > img {
    width: 30px;
    height: 30px;
  }

  .forUsers {
    grid-template-rows: none;
    grid-template-columns: repeat(2, 1fr);
  }

  .forUsers :first-child {
    margin: 0;
  }

  .icons > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .icons > ul > li {
    margin-right: 2rem;
  } 

  .icons > ul > li > a > img {
    width: 30px;
    height: 30px;
  }
}
