.productFull {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden
}

.fullImg {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.details {
  margin: 4rem;
}

.details > h1 {
  line-height: 5rem;
  font-size: 5rem;
  margin-left: 0;
}

.details > h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 0;
}

.detailsYear {
  font-size: 1.5rem;
}

.description {
  font-family: 'Poppins';
}

.back {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  position: absolute;
  margin: 1rem;
  padding: 1rem;
  color: black;
  background-color: #FFF5FB;
  text-decoration: none;
}

.back:hover {
  background-color: #FF5159;
}

.detailsImg {
  width: 100%;
  background-color: #3433;
}

.detailsImg > div {
  margin: 2rem;
  transition: all 0.3s ease;
}

.detailsImg > div:hover {
  transform: scale(1.5) rotate(35deg);
}

.productAtc {
  font-family: 'Archivo', sans-serif;
  margin: 1rem;
  background-color: #FF5159;
  float: right;
  color: white;
  padding: 1rem 2rem;
  transition: all 0.5s ease; 
}

.productAtc:hover {
  background-color: #A9001D;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .productFull {
    overflow: visible;
    grid-template-columns: none;
    grid-template-rows: 1fr 4fr;
  }
  .fullImg {
    height: 50vh;
  }

  .productAtc {
    width: 100%;
    align-self: center;
    justify-self: center;
  }
}