.about {
  width: 92vw;
  float: right;
}

.techs {
  display: grid;
  font-family: 'Poppins', sans-serif;
}

.techs > div > h3 {
  margin: 1.5rem;
} 

@media (max-width: 1450px) {
  .about {
    height: 92vh;
    margin-top: 14vh;
  }
}